.layout {
    background-color: #00979c;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    width: 100%;
    margin-top: 50px;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
  .content{
    font-size: 1rem;
  }
  
  @media screen and (min-width: 768px) {
     .layout {
      padding-bottom: 100px;
      /* padding-left: 1rem;
      padding-right: 1.2rem; */
    }
  }
  
  .scontent {
    text-indent: 2rem;
  }