.image {
    position: relative;
  }
  
  .link {
    display: block;
    width: 100%;
  }
  
  .style {
    width: 100%;
    display: block;
  }
  
  .title {
    color: white;
    right: 2rem;
    bottom: 0;
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    position: absolute;
  }