.above {
    background-color: #2c3e50;
    color: white;
  }
  
  .description {
    margin: 60px;
    padding: 0 30px;
    text-align: center;
    align-self: center;
    font-size: 1.1rem;
  }
  
.abovesection{
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

  .list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: 50px;
    padding-left: 10px;
  }
  
  @media screen and (min-width: 992px) {
    .description {
      padding: 0px;
      text-align: justify;
      
    }
  
    .list {
      justify-content: flex-end;
      margin-bottom: 0px;
      padding-left: 10px;
    }
  }
  
  .item {
    padding: 0 10px;
    align-self: center;
  }
  
  .link {
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
  }
  
  .link:hover {
    background-color: #fff;
    color: #2c3e50;
  }

.below{
    background-color: #233140;
    color: white;
    padding: 25px 0;
    text-align: center;
}