.section{
    margin-top: 1.5rem;
    padding-right: calc(1.5rem * 0.5);
    padding-left: calc(1.5rem * 0.5);
}

@media screen and (min-width: 578px) {
    .box{
        padding-right: 4rem;
        padding-left: 4rem;
    }
}
