body{
  font-size: 16px;
  line-height: 1.6;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.page{
  width: 100%;
  display: flex;
  align-self: center;
  margin: auto;
}

/*grid*/
.main-layout{
  display: grid;
  min-height: 100vh;
  grid-template-areas: 
    'header'
    'titleSection'
    'contentt'
    'descriptions'
    'footer'
  ;
  grid-template-rows: auto 1fr auto;

}

.header{
  grid-area: header;
}

.titleSection{
  grid-area: titleSection;
}

.content{
  grid-area: content;
}

.descriptions{
  grid-area: descriptions;
}

.footer{
  grid-area: footer;
}

/*RWD*/
.container{
  width: 100%;
  display: flex;
  align-self: center;
  margin: auto;
}

/* sm */
@media (min-width: 578px){
  .container{
    width: 540px;
  }
}

/* md */
@media (min-width: 768px){
  .container{
    width: 720px;
  }
}

/* lg */
@media (min-width: 992px){
  .container{
    width: 960px;
  }
}

/* xl */
@media (min-width: 1200px){
  .container{
    width: 1140px;
  }
}

/* xxl */
@media (min-width: 1600px){
  .container{
    width: 1500px;
  }
}